* {
    box-sizing: border-box;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Column */
    .column {
        /* border-style: solid; */
        margin: 0 auto;
        height: 1.18in;
        width: 2.36in;
        padding: 10px;
        margin-top: 10px;
        
    }

    .column2 {
        /* border-style: solid; */
        margin: 0 auto;
        height: 1.18in;
        width: 2.36in;
        padding: 10px;
        margin-top: 10px;
    }

    .header-fixed {
        background-color: whitesmoke;
        padding: 10px;
    }

    .first {
        margin-bottom: 1%;
    }

    img {
        float: right;
        width: 40%;
    }

    .qrcode {
        float: right;
        width: 40%;
        margin-right: -5px;
    }

    p {
        
        font-family: Arial, Helvetica, sans-serif black;
        font-size: 15px;
        font-weight: bold;
    }

    .isi {
        font-size: 13px;
        font-weight: bold;
    }

    .barcode {
        margin-top: 30px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif black;
        font-weight: bold;
        /* font-size: 15px; */
        line-height: 1.6;
    }

    #code { 
        font-size: 13px;
        font-weight: bold;
    }

    .head {
        font-size: 15px;
    }

    .material {
        /* margin-top: -15px; */
        font-size: 13px;
        font-weight: bold;
    }

    .bundle {
        font-size: 13px;
        font-weight: bold;
    }

    .description {
        margin-top: -10px;
        font-size: 10px;
        font-weight: bold;
    }

    .centerize {
        display: block;
        margin: 0 auto;
        text-align: right;
    }
    .btn {
        cursor: pointer;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: 1px solid transparent;
        padding: 0.65rem 1rem;
        font-size: 1rem;
        line-height: 1;
        border-radius: 0;
    }
    .btn-primary {
        cursor: pointer;
        color: #fff;
        background-color: #5867dd;
        border-color: #5867dd;
        color: #ffffff;
    }

    .btn-danger {
        cursor: pointer;
        color: #fff;
        background-color: #dd5858;
        border-color: #dd5858;
        color: #ffffff;
    }

    button {
        cursor: pointer;
        margin: 0;
        font-family: inherit;
    }

    @media print {
        
        .noprint{
            display:none; 
        }
        
        .column {
            margin: 0 auto;
            height: 1.18in;
            width: 2.36in;
            padding: 10px;
            margin-bottom: 10px;
        }
        .column2 {
            margin: 0 auto;
            height: 1.18in;
            width: 2.36in;
            padding: 10px;
            margin-top: 30px;
        }

        body {
            margin: 1mm 1mm 1mm 1mm;
        }

        #qrcode {
            float: right;
            width: 40%;
        }

    }
